.article {
    font-family: Helvetica, sans-serif;
    margin-bottom: 5px;
}

.article:last-child {
    margin-bottom: 0;
}

.article__title {
    color: #244f92;
}

.article__description {
    color: #303030;
    font-weight: 300;
}

.article__font_style {
    padding: auto;
    font-family: "Roboto font", Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;
}

.article__border_style {
    border-radius: 4px;
    border:1px solid #e5e5e5;
    box-shadow: -1px 2px 1px #c1c1c1;
}
