.header {
    background-color: #96efc0;
    font-family: Helvetica, sans-serif;
}

.header__content {
    box-sizing: border-box;
    max-width: 960px;
    padding: 20px;
    margin: auto 0;
}

.header__logo {
    margin-left: 70px;
    width: auto;
    height: 32px;
}
